<html>
<head>
   <title>Demo Upload File</title>
</head>
<body>
   <h2>Demo PDFKit dalam Flask</h2>
   
   <table border="1">
      <tr>
         <th width="90">ID</th>
         <th width="250">Judul</th>
         <th width="150">Penulis</th>
         <th width="170">Penerbit</th>
      </tr>
      <tr>
         <td>B001</td>
         <td>Learning Flask Framework</td>
         <td>Matt Copperwaite</td>
         <td>PACKT Publishing</td>
      </tr>
      <tr>
         <td>B002</td>
         <td>Flask By Example</td>
         <td>Gareth Dwyer</td>
         <td>PACKT Publishing</td>
      </tr>
      <tr>
         <td>B003</td>
         <td>Essential SQLAlchemy</td>
         <td>Rick Copeland</td>
         <td>OReilly</td>
      </tr>
   </table>
   
   <p><a href="http://localhost:5000/konversi">Konversi ke PDF</a></p>
</body>
</html>
