<html>
<head>
   <title>Demo Flask-WTF 1</title>
</head>
<body>
   <h2>Demo Flask-WTF 1</h2>
   <p>Data yang dikirim adalah:</p>
   <p>
   Nama: {{ nama }}<br />
   Alamat: {{ alamat }}<br />
   Jenis kelamin: 
   {% if jenisKelamin=='P' %}
      Pria
   {% else %}
      Wanita
   {% endif %}
   <br />
   Agama:
   {% if agama==1 %}
      Islam
   {% elif agama==2 %}
      Protestan
   {% elif agama==3 %}
      Katolik
   {% elif agama==4 %}
      Hindu
   {% else %}
      Budha
   {% endif %}
   <br />
   Hobi:
   {% if hobi1 == true %}
      Olahraga 
   {% endif %}
   {% if hobi2 == true %}
      Membaca 
   {% endif %}
   {% if hobi3 == true %}
      Tamasya 
   {% endif %}
   </p>   
   
</body>
</html>

