<html>
<head>
   <title>Demo select</title>
</head>
<body>
   <h2>Demo select</h2>
   
   <form action="/" method="post">      
      Agama:<br />
      <select name="agama" size="1">
         <option value="1">Islam</option>
         <option value="2">Protestan</option>
         <option value="3">Katolik</option>
         <option value="4">Hindu</option>
         <option value="5">Budha</option>
      </select><br /><br />
      
      Bahasa pemrograman yang disukai:<br />
      <em>(Tekan Ctrl+klik untuk memilih lebih dari satu)</em><br />
      <select name="bahasa" size="5" multiple>
         <option value="Python">Python</option>
         <option value="PHP">PHP</option>
         <option value="Perl">Perl</option>
         <option value="Ruby">Ruby</option>
         <option value="Java">Java</option>
      </select>
      
      <p><input type="submit"  value="Kirim" /></p>
   </form>
   
</body>
</html>
