<html>
<head>
   <title>Demo Flask-Mail</title>
</head>
<body>
   <h2>Demo Kirim Email menggunakan Flask-Mail</h2>
   
   <form action="http://localhost:5000" method="post">
      GMail Username:<br />
      <input type="text" name="gmail_username" /><br />
      GMail Password:<br />
      <input type="password" name="gmail_password" /><br />
      To:<br />
      <input type="text" name="to" /><br />
      Subject:<br />
      <input type="text" name="subject" /><br />
      Message:<br />
      <textarea name="message" /></textarea><br />
      <p><input type="submit" value="Kirim" /></p>
   </form>
</body>
</html>
