<html>
<head>
   <title>Demo Flask-SQLAlchemy dan MySQL</title>
</head>
<body>
   <h2>Demo Flask-SQLAlchemy dan MySQL</h2>   
   <table border="1">
		<tr>
         <th width=60>ID</th>
         <th width=200>Judul</th>
         <th width=170>Penulis</th>
         <th width=170>Penerbit</th>
         <th width=80>Ubah</th>
         <th width=80>Hapus</th>
      </tr>
      {% for buku in container %}
         <tr>
            <td>{{ buku.id }}</td>
            <td>{{ buku.judul }}</td>
            <td>{{ buku.penulis }}</td>
            <td>{{ buku.penerbit }}</td>
            <td><a href="http://localhost:5000/ubah/{{buku.id}}">Ubah</a></td>
            <td><a href="http://localhost:5000/hapus/{{buku.id}}">Hapus</a></td>
         </tr>
      {% endfor %}
   </table>
   <p><a href="http://localhost:5000/tambah">Tambah Data</a></p>
</body>
</html>
