<html>
<head>
   <title>Demo Flask-SQLAlchemy dan MySQL</title>
</head>
<body>
   <h2>Ubah Data</h2>
   
   <form action="http://localhost:5000/ubah/{{buku.id}}" method="post">
      ID:<br />
      <input type="text" name="id" size="15" 
      value="{{buku.id}}" maxlength="4" readonly /><br />
      Judul buku:<br />
      <input type="text" name="judul" size="50" 
      value="{{buku.judul}}" maxlength="40" /><br />
      Penulis:<br />
      <input type="text" name="penulis" size="30" 
      value="{{buku.penulis}}" maxlength="25" /><br />
      Penerbit:<br />
      <input type="text" name="penerbit" size="30" 
      value="{{buku.penerbit}}" maxlength="30" /><br />
      <p><input type="submit" value="Simpan"></p>
   </form>

</body>
</html>
