<html>
<head>
   <title>Demo radio</title>
</head>
<body>
   <h2>Demo radio</h2>
   
   <form action="/" method="post">
      Nama:<br />
      <input type="text" name="nama" size="25" /><br />
      Jenis kelamin:<br />
      <input type="radio" name="gender" value="P" checked />Pria
      <input type="radio" name="gender" value="W" />Wanita<br />
      Agama:<br />
      <input type="radio" name="agama" value="1" checked />Islam
      <input type="radio" name="agama" value="2" />Protestan
      <input type="radio" name="agama" value="3" />Katolik
      <input type="radio" name="agama" value="4" />Hindu
      <input type="radio" name="agama" value="5" />Budha      
      <p><input type="submit"  value="Login" /></p>
   </form>
   
</body>
</html>
