<html>
<head>
   <title>Demo checkbox</title>
</head>
<body>
   <h2>Demo checkbox</h2>
   
   <form action="/" method="post">      
      Pilih framework Python yang Anda sukai:<br />
      <input type="checkbox" name="frameworks" value="Flask" checked />Flask
      <input type="checkbox" name="frameworks" value="Bottle" />Bottle
      <input type="checkbox" name="frameworks" value="Django" />Django
      <input type="checkbox" name="frameworks" value="Web2py" />Web2py
      <input type="checkbox" name="frameworks" value="Pyramid" />Pyramid
      <input type="checkbox" name="frameworks" value="CherryPy" />CherryPy
      <p><input type="submit"  value="Kirim" /></p>
   </form>
   
</body>
</html>
