<html>
<head>
   <title>Demo Flask-SQLite</title>
</head>
<body>
   <h2>Demo Flask-SQLite</h2>   
   <table border="1">
		<tr>
         <th width=60>ID</th>
         <th width=200>Judul</th>
         <th width=170>Penulis</th>
         <th width=170>Penerbit</th>
         <th width=80>Ubah</th>
         <th width=80>Hapus</th>
      </tr>
      {% for baris in container %}
         <tr>
            <td>{{ baris[0] }}</td>
            <td>{{ baris[1] }}</td>
            <td>{{ baris[2] }}</td>
            <td>{{ baris[3] }}</td>
            <td><a href="http://localhost:5000/ubah/{{baris[0]}}">Ubah</a></td>
            <td><a href="http://localhost:5000/hapus/{{baris[0]}}">Hapus</a></td>
         </tr>
      {% endfor %}
   </table>
   <p><a href="http://localhost:5000/tambah">Tambah Data</a></p>
</body>
</html>
